# Data Wrangling

## Gather

In [212]:
import pandas as pd
import numpy as np
import requests
import tweepy
import json
import os
from timeit import default_timer as timer

In [213]:
#read csv
twitter_archive = pd.read_csv('twitter-archive-enhanced.txt')
twitter_archive_clean = twitter_archive.copy()

In [214]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,nan,nan,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,nan,nan,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,nan,nan,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,nan,nan,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,nan,nan,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,nan,nan,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,nan,nan,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,nan,nan,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,nan,nan,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,nan,nan,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [215]:
#get image predictions file from Udacity server and save to current directory
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
response.content
file_type = url.split('/')[-1]

with open(file_type, "wb") as file:
    file.write(response.content)
    
image_predictions = pd.read_csv('image-predictions.tsv', sep='\t', header=0)
image_predictions_clean = image_predictions.copy()

In [216]:
#use Twitter API to get retweet and favorite counts for all tweets from WeRateDogs
consumer_key = 'gVxHHXwZyADEN9DusjKXtW4Ba'
consumer_secret = 'LLhR0ONaW0hV5zhdIIzdy3nmCzk6z9gkKqXkDLXikIEiCGa5lv'
access_token = '209898784-KnLgDLy3AiwHPnDFt5hoBUC0Al61R1pMDYgCVbqS'
access_secret = '4AIymGO6kiCK6tR4dqqm5JP4yMFWtZsAyZbsn31EoFa9U'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [217]:
# tweet_ids = twitter_archive_clean.tweet_id.values
# len(tweet_ids)

# # Query Twitter's API for JSON data for each tweet ID in the Twitter archive
# count = 0
# fails_dict = {}
# start = timer()
# # Save each tweet's returned JSON as a new line in a .txt file
# with open('tweet_json_copy.txt', 'w') as outfile:
#     # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
#     for tweet_id in tweet_ids:
#         count += 1
#         print(str(count) + ": " + str(tweet_id))
#         try:
#             tweet = api.get_status(tweet_id, tweet_mode='extended')
#             print("Success")
#             json.dump(tweet._json, outfile)
#             outfile.write('\n')
#         except tweepy.TweepError as e:
#             print("Fail")
#             fails_dict[tweet_id] = e
#             pass
# end = timer()
# print(end - start)
# print(fails_dict)

In [218]:
d = []

with open('tweet_json_copy.txt', 'r') as f:
    for line in f:
        tweets = json.loads(line)
        d.append(
            {
                'tweet_id': tweets['id'],
                'retweet_count': tweets['retweet_count'],
                'favorite_count': tweets['favorite_count']
            }
        )

In [219]:
len(d)

2354

In [220]:
json_info = pd.DataFrame(d, columns = ['tweet_id', 'retweet_count', 'favorite_count'])
json_info_clean = json_info.copy()

In [221]:
json_info_clean.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

## Assess

In [222]:
#review for quality and tidiness issues
twitter_archive_clean.sample(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1200,716730379797970944,nan,nan,2016-04-03 20:53:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",There has clearly been a mistake. Pup did noth...,nan,nan,NaN,https://twitter.com/chpsanfrancisco/status/716...,12,10,None,None,None,None,None
1417,698549713696649216,nan,nan,2016-02-13 16:50:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Claude. He's trying to be seductive bu...,nan,nan,NaN,https://twitter.com/dog_rates/status/698549713...,9,10,Claude,None,None,None,None
2234,668190681446379520,nan,nan,2015-11-21 22:14:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Skittles. I would kidnap Skittles. Pin...,nan,nan,NaN,https://twitter.com/dog_rates/status/668190681...,12,10,Skittles,None,None,None,None
660,791312159183634433,nan,nan,2016-10-26 16:14:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mabel. She's super h*ckin smol. Portab...,nan,nan,NaN,https://twitter.com/dog_rates/status/791312159...,12,10,Mabel,None,None,None,None
249,845306882940190720,nan,nan,2017-03-24 16:10:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pickles. She's a silly pupper. Thinks ...,nan,nan,NaN,https://twitter.com/dog_rates/status/845306882...,12,10,Pickles,None,None,pupper,None
1146,727155742655025152,nan,nan,2016-05-02 15:20:13 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",When you're trying to enjoy yourself but end u...,nan,nan,NaN,https://vine.co/v/ixa1ejbXiM7,11,10,None,None,None,None,None
1583,687102708889812993,nan,nan,2016-01-13 02:43:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Army of water dogs here. None of them know whe...,nan,nan,NaN,https://twitter.com/dog_rates/status/687102708...,5,10,None,None,None,None,None
876,761004547850530816,nan,nan,2016-08-04 01:03:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo and Ty. Bo eats paper and Ty felt l...,nan,nan,NaN,https://twitter.com/dog_rates/status/761004547...,11,10,Bo,None,None,None,None
1645,683849932751646720,nan,nan,2016-01-04 03:18:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jiminy. He's not the brightest dog. Ne...,nan,nan,NaN,https://twitter.com/dog_rates/status/683849932...,5,10,Jiminy,None,None,None,None
1204,716080869887381504,nan,nan,2016-04-02 01:52:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a super majestic doggo and a sunset 11/...,nan,nan,NaN,https://twitter.com/dog_rates/status/716080869...,11,10,None,doggo,None,None,None
588,799422933579902976,nan,nan,2016-11-18 01:24:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Longfellow (prolly sophisticated). He'...,nan,nan,NaN,https://twitter.com/dog_rates/status/799422933...,12,10,Longfellow,None,None,None,None
653,792050063153438720,nan,nan,2016-10-28 17:07:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Remus. He's a mop that came to life. C...,nan,nan,NaN,https://twitter.com/dog_rates/status/792050063...,11,10,Remus,None,None,None,None
1460,695051054296211456,nan,nan,2016-02-04 01:07:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Meet Brian (pronounced ""Kirk""). He's not amuse...",nan,nan,NaN,https://twitter.com/dog_rates/status/695051054...,6,10,Brian,None,None,None,None
1990,672640509974827008,nan,nan,2015-12-04 04:56:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Leonidas. He just got rekt by a snowba...,nan,nan,NaN,https://twitter.com/dog_rates/status/672640509...,9,10,Leonidas,None,None,None,None
2101,670691627984359425,nan,nan,2015-11-28 19:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ester. He has a cocaine problem. This ...,nan,nan,NaN,https://twitter.com/dog_rates/status/670691627...,8,10,Ester,None,None,None,None
1863,675372240448454658,nan,nan,2015-12-11 17:51:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...","The tail alone is 13/10. Great dog, better own...",nan,nan,NaN,https://twitter.com/dog_rates/status/675372240...,13,10,None,None,None,None,None
1318,706538006853918722,nan,nan,2016-03-06 17:52:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Oliver (pronounced ""Ricardo""). He's a ...",nan,nan,NaN,https://twitter.com/dog_rates/status/706538006...,11,10,Oliver,None,None,None,None
1728,679872969355714560,nan,nan,2015-12-24 03:55:21 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",This is Rocco. He's in a very intense game of ...,nan,nan,NaN,https://vine.co/v/iAAxTbj1UAM,10,10,Rocco,None,None,None,None
591,799063482566066176,nan,nan,2016-11-17 01:35:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mister. He only wears the most fashion...,nan,nan,NaN,https://twitter.com/dog_rates/status/799063482...,11,10,Mister,None,None,None,None
1969,673317986296586240,nan,nan,2015-12-06 01:48:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Take a moment and appreciate how these two dog...,nan,nan,NaN,https://twitter.com/dog_rates/status/673317986...,10,10,None,None,None,None,None

In [223]:
#see if any missing data in columns we'll need later
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [224]:
#format so actual values show instead of exponential values
pd.set_option('display.float_format', lambda x: '%.0f' % x)

#check if values make sense
twitter_archive_clean.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2356,78,78,181,181,2356,2356
mean,742771590321719808,745507917855750656,20141706360873208,772039961038007040,12416983653017580,13,10
std,68567047444761032,75824920044192880,125279666255236320,62369278105055600,95992535331517536,46,7
min,666020888022790144,665814696700723200,11856342,666104133288665088,783214,0,0
25%,678398938214475776,675741911993464832,308637449,718631497683582976,4196983835,10,10
50%,719627934716235776,703870840226598912,4196983835,780465709297995776,4196983835,11,10
75%,799337304954252288,825780371286566912,4196983835,820314633777061888,4196983835,12,10
max,892420643555336192,886266357075128320,840547864354918400,887473957103951872,787461778435289088,1776,170

In [225]:
#check for duplicate rows
sum(twitter_archive_clean.duplicated())

0

In [226]:
#review for quality and tidiness issues
image_predictions.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
596,679527802031484928,https://pbs.twimg.com/media/CW4q7jDWkAA2y8g.jpg,1,mailbox,0,False,cannon,0,False,cuirass,0,False
1879,846514051647705089,https://pbs.twimg.com/media/C79sB4xXwAEvwKY.jpg,2,golden_retriever,1,True,Leonberg,0,True,Norfolk_terrier,0,True
1560,793271401113350145,https://pbs.twimg.com/media/CwJEIKTWYAAvL-T.jpg,1,Siberian_husky,0,True,Eskimo_dog,0,True,Pembroke,0,True
1305,753375668877008896,https://pbs.twimg.com/media/CnSHLFeWgAAwV-I.jpg,1,bluetick,0,True,crutch,0,False,tripod,0,False
1129,728015554473250816,https://pbs.twimg.com/media/ChpuRyvVAAARMoq.jpg,1,cocker_spaniel,0,True,golden_retriever,0,True,sandbar,0,False

In [227]:
#see if any missing data in columns we'll need later
image_predictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [228]:
#format so actual values show instead of exponential values
pd.set_option('display.float_format', lambda x: '%.2f' % x)

#check if values make sense
image_predictions_clean.describe()

                   tweet_id  img_num  p1_conf  p2_conf  p3_conf
count               2075.00  2075.00  2075.00  2075.00  2075.00
mean  738451357852539008.00     1.20     0.59     0.13     0.06
std    67852033330235656.00     0.56     0.27     0.10     0.05
min   666020888022790144.00     1.00     0.04     0.00     0.00
25%   676483507139540992.00     1.00     0.36     0.05     0.02
50%   711998809858043904.00     1.00     0.59     0.12     0.05
75%   793203448525178880.00     1.00     0.84     0.20     0.09
max   892420643555336192.00     4.00     1.00     0.49     0.27

In [229]:
#check for duplicate values
sum(image_predictions_clean.duplicated())

0

In [230]:
#review for quality and tidiness issues
json_info_clean.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

In [231]:
#see if any missing data in columns we'll need later
json_info_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
tweet_id          2354 non-null int64
retweet_count     2354 non-null int64
favorite_count    2354 non-null int64
dtypes: int64(3)
memory usage: 55.3 KB

In [232]:
json_info_clean.sample(5)

                tweet_id  retweet_count  favorite_count
1507  691459709405118465           1294            4449
527   808501579447930884           3007           12595
489   813812741911748608          16267           40402
1808  676821958043033607          17605           25124
825   769212283578875904           1969            5980

In [233]:
#format so actual values show instead of exponential values
pd.set_option('display.float_format', lambda x: '%.0f' % x)

#check if values make sense
json_info_clean.describe()

                tweet_id  retweet_count  favorite_count
count               2354           2354            2354
mean  742697816435063552           3165            8081
std    68528120712910648           5285           11815
min   666020888022790144              0               0
25%   678397510244808704            624            1415
50%   719459571111233536           1474            3604
75%   799305849241918464           3652           10122
max   892420643555336192          79515          132810

In [234]:
#check for duplicate values
sum(json_info_clean.duplicated())

0

### Quality

##### Twitter Archive Table
- timestamp has +0000 at the end
- timestamp not datetime object 
- dog_stage not categorical object
- tweet_id, in_reply_to_status_id, in_reply_to_user_id not string object
- retweet_count, favorite count not integers
- retweets are included in the results
- retweeted_status_id and retweeted_status_user_id, retweeted_status_timestamp columns not needed after row deletion and 'doggo', 'floofer', 'pupper', 'puppo' columns aren't needed after moved into new column in tidiness section.
- one row with numerator of 960 and denominator 0


##### Images Table
- p1, p2, p3 names sometimes capitalized, sometimes not 
- p1, p2, p3 have underscores separating dog name values

### Tidiness

##### Twitter Archive Table
- doggo, floofer, pupper, puppo should be in one column, as they're values not variables

##### Images Table
- image table should be part of twitter_archive table 

##### JSON Table
- retweet_count and favorite_count should be part of twitter_archive table

## Clean

#### Images - doggo, floofer, pupper, puppo should be in one column, as they're values not variables

#### Define
create dog stage column with doggo, floofer, pupper, puppo as dog stage types, keeping only the dog stage value, if listed in one of the columns, or otherwise just listing None

#### Code

In [235]:
twitter_archive_clean['dog_stage'] = twitter_archive_clean[['doggo', 'floofer', 'pupper', 'puppo']].max(axis=1)

#### Test

In [236]:
twitter_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,dog_stage
0,892420643555336193,nan,nan,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,nan,nan,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,None
1,892177421306343426,nan,nan,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,nan,nan,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,None
2,891815181378084864,nan,nan,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,nan,nan,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,None
3,891689557279858688,nan,nan,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,nan,nan,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,None
4,891327558926688256,nan,nan,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,nan,nan,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,None

#### retweet_count and favorite_count should be part of twitter_archive table

#### Define

merge retweet_count and favorite_count from JSON Info table into Twitter Archive table using pandas merge function

#### Code

In [237]:
twitter_archive_clean = pd.merge(twitter_archive_clean, json_info_clean, on='tweet_id', how='left')

#### Test

In [238]:
twitter_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,dog_stage,retweet_count,favorite_count
0,892420643555336193,nan,nan,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,nan,nan,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,None,8853,39467
1,892177421306343426,nan,nan,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,nan,nan,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,None,6514,33819
2,891815181378084864,nan,nan,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,nan,nan,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,None,4328,25461
3,891689557279858688,nan,nan,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,nan,nan,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,None,8964,42908
4,891327558926688256,nan,nan,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,nan,nan,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,None,9774,41048

In [239]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 20 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dog_stage                     2356 non-null object
retweet_count                 2354 non-null float64
favorite_count                2354 non-null float64
dtypes: float64(6), int64(3), object(11)
memory usage: 386.5+ KB

#### timestamp not datetime object

#### Define

Change timestamp column to datetime using pandas to_datetime function.

#### Code

In [241]:
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean['timestamp'])

#### Test

In [242]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 20 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns, UTC]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dog_stage                     2356 non-null category
retweet_count                 2354 non-null float64
favorite_count                2354 non-null float64
dtypes: category(1), datetime64[ns, UTC](1), float64(6), int64(3), object(9)
memory usage: 370.6+ KB

#### dog_stage not categorical object

#### Define
Change datatype of dog_stage to categorical using astype

#### Code

In [259]:
twitter_archive_clean['dog_stage'] = twitter_archive_clean['dog_stage'].astype('category')

#### Test

In [254]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 13 columns):
tweet_id                 2175 non-null int64
in_reply_to_status_id    78 non-null float64
in_reply_to_user_id      78 non-null float64
timestamp                2175 non-null datetime64[ns]
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
dog_stage                2175 non-null category
retweet_count            2175 non-null float64
favorite_count           2175 non-null float64
dtypes: category(1), datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 223.2+ KB

#### tweet_id, in_reply_to_status_id, in_reply_to_user_id not string object

#### Define
Change datatype to string using astype

#### Code

In [267]:
#twitter_archive_clean[twitter_archive_clean.retweet_count.isna()]
twitter_archive_clean[['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id']] = twitter_archive_clean[['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id']].astype(str)

#### Test

In [268]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 13 columns):
tweet_id                 2175 non-null object
in_reply_to_status_id    2175 non-null object
in_reply_to_user_id      2175 non-null object
timestamp                2175 non-null datetime64[ns]
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
dog_stage                2175 non-null category
retweet_count            2175 non-null float64
favorite_count           2175 non-null float64
dtypes: category(1), datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 223.2+ KB

#### retweet_count, favorite_count not integers

#### Define
Change datatype to integer using astype

#### Code

In [270]:
twitter_archive_clean[['retweet_count', 'favorite_count']] = twitter_archive_clean[['retweet_count', 'favorite_count']].astype(int)

#### Test

In [271]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 13 columns):
tweet_id                 2175 non-null object
in_reply_to_status_id    2175 non-null object
in_reply_to_user_id      2175 non-null object
timestamp                2175 non-null datetime64[ns]
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
dog_stage                2175 non-null category
retweet_count            2175 non-null int32
favorite_count           2175 non-null int32
dtypes: category(1), datetime64[ns](1), int32(2), int64(2), object(7)
memory usage: 206.2+ KB

#### retweets are included in the results

#### Define

remove the rows from the dataframe that have values by using the Pandas isnull function

#### Code

In [243]:
twitter_archive_clean = twitter_archive_clean[pd.isnull(twitter_archive_clean['retweeted_status_id'])]

#### Test

In [244]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 20 columns):
tweet_id                      2175 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2175 non-null datetime64[ns, UTC]
source                        2175 non-null object
text                          2175 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2117 non-null object
rating_numerator              2175 non-null int64
rating_denominator            2175 non-null int64
name                          2175 non-null object
doggo                         2175 non-null object
floofer                       2175 non-null object
pupper                        2175 non-null object
puppo                         2175 non-null object
dog_stage                     2175 non-null category
retweet_count                 2175 non-null float64
favorite_count                2175 non-null float64
dtypes: category(1), datetime64[ns, UTC](1), float64(6), int64(3), object(9)
memory usage: 342.2+ KB

#### retweeted_status_id and retweeted_status_user_id, retweeted_status_timestamp columns not needed after row deletion

#### Define

remove columns using drop function

#### Code

In [245]:
twitter_archive_clean.drop(columns=['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp', 'doggo', 'floofer', 'pupper', 'puppo'], inplace=True)

#### Test

In [246]:
twitter_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,retweet_count,favorite_count
0,892420643555336193,nan,nan,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,8853,39467
1,892177421306343426,nan,nan,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,6514,33819
2,891815181378084864,nan,nan,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,4328,25461
3,891689557279858688,nan,nan,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,8964,42908
4,891327558926688256,nan,nan,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,9774,41048

#### timestamp has +0000 at the end

#### Define
Remove +0000 (which is for timezone) by using dt.tz_localize function

#### Code

In [247]:
twitter_archive_clean['timestamp'] = twitter_archive_clean['timestamp'].dt.tz_localize(None)

#### Test

In [248]:
twitter_archive_clean.sample()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,retweet_count,favorite_count
1675,682242692827447297,nan,nan,2015-12-30 16:51:48,"<a href=""http://twitter.com/download/iphone"" r...",This is Samson. He patrols his waters on the b...,https://twitter.com/dog_rates/status/682242692...,11,10,Samson,None,1341,3566

#### one row with numerator of 960 and denominator 0

#### Define
Change these values to 13 and 10, as listed in the text column, using the replace function

#### Code

In [249]:
twitter_archive_clean['rating_numerator'] = twitter_archive_clean['rating_numerator'].replace(960, 13)
twitter_archive_clean['rating_denominator'] = twitter_archive_clean['rating_denominator'].replace(0, 10)

#### Test

In [250]:
twitter_archive_clean.query('rating_numerator == 960')

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, dog_stage, retweet_count, favorite_count]
Index: []

In [251]:
twitter_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,retweet_count,favorite_count
0,892420643555336193,nan,nan,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,8853,39467
1,892177421306343426,nan,nan,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,6514,33819
2,891815181378084864,nan,nan,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,4328,25461
3,891689557279858688,nan,nan,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,8964,42908
4,891327558926688256,nan,nan,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,9774,41048

#### p1, p2, p3 have underscores separating dog name values

#### Define
replace underscore with space using lambda expression and str.replace for each column

In [273]:
image_predictions_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0,True,collie,0,True,Shetland_sheepdog,0,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,1,True,miniature_pinscher,0,True,Rhodesian_ridgeback,0,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,1,True,malinois,0,True,bloodhound,0,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0,True,redbone,0,True,miniature_pinscher,0,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,1,True,Rottweiler,0,True,Doberman,0,True

#### Code

In [307]:
image_predictions_clean[['p1', 'p2', 'p3']] = image_predictions_clean[['p1', 'p2', 'p3']].apply(lambda x: x.str.replace('_', ' '))

#### Test

In [308]:
image_predictions_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh springer spaniel,0,True,collie,0,True,Shetland sheepdog,0,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,1,True,miniature pinscher,0,True,Rhodesian ridgeback,0,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German shepherd,1,True,malinois,0,True,bloodhound,0,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian ridgeback,0,True,redbone,0,True,miniature pinscher,0,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature pinscher,1,True,Rottweiler,0,True,Doberman,0,True

#### p1, p2, p3 names sometimes capitalized, sometimes not

#### Define
change first letter of all words in names using lambda expression and str.title for each column

#### Code

In [310]:
image_predictions_clean[['p1', 'p2', 'p3']] = image_predictions_clean[['p1', 'p2', 'p3']].apply(lambda x: x.str.title())

#### Test

In [311]:
image_predictions_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,0,True,Collie,0,True,Shetland Sheepdog,0,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,1,True,Miniature Pinscher,0,True,Rhodesian Ridgeback,0,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,1,True,Malinois,0,True,Bloodhound,0,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,0,True,Redbone,0,True,Miniature Pinscher,0,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,1,True,Rottweiler,0,True,Doberman,0,True

In [313]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

#### image table should be part of twitter_archive table

#### Define
change tweet_id in image_predictions to string and with astype adn merge Image Predictions table into Twitter Archive table using pandas merge function

#### Code

In [315]:
image_predictions_clean['tweet_id'] = image_predictions_clean['tweet_id'].astype(str)
twitter_archive_clean = pd.merge(twitter_archive_clean, image_predictions_clean, on='tweet_id', how='left')

#### Test

In [316]:
twitter_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,nan,nan,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,...,1,Orange,0,False,Bagel,0,False,Banana,0,False
1,892177421306343426,nan,nan,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,...,1,Chihuahua,0,True,Pekinese,0,True,Papillon,0,True
2,891815181378084864,nan,nan,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,...,1,Chihuahua,1,True,Malamute,0,True,Kelpie,0,True
3,891689557279858688,nan,nan,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,...,1,Paper Towel,0,False,Labrador Retriever,0,True,Spatula,0,False
4,891327558926688256,nan,nan,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,...,2,Basset,1,True,English Springer,0,True,German Short-Haired Pointer,0,True

In [317]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2174
Data columns (total 24 columns):
tweet_id                 2175 non-null object
in_reply_to_status_id    2175 non-null object
in_reply_to_user_id      2175 non-null object
timestamp                2175 non-null datetime64[ns]
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
dog_stage                2175 non-null category
retweet_count            2175 non-null int32
favorite_count           2175 non-null int32
jpg_url                  1994 non-null object
img_num                  1994 non-null float64
p1                       1994 non-null object
p1_conf                  1994 non-null float64
p1_dog                   1994 non-null object
p2                       1994 non-null object
p2_conf                  1994 non-null float64
p2_dog                   1994 non-null object
p3                       1994 non-null object
p3_conf                  1994 non-null float64
p3_dog                   1994 non-null object
dtypes: category(1), datetime64[ns](1), float64(4), int32(2), int64(2), object(14)
memory usage: 393.1+ KB

In [320]:
#storing clean dataframe as csv
twitter_archive_clean.to_csv('twitter_archive_master.csv', index=False)

In [322]:
##storing clean dataframe as txt also, because csv is placing zeros for last 3 digits of tweet_id
twitter_archive_clean.to_csv('twitter_archive_master.txt', index=False)

### Analysis and Visualization

used to format data
https://stackoverflow.com/questions/55394854/how-to-change-the-format-of-describe-output

used to remove non null values
https://www.geeksforgeeks.org/python-pandas-isnull-and-notnull/

used to remove timezone from datetime object
https://stackoverflow.com/questions/49198068/how-to-remove-timezone-from-a-timestamp-column-in-a-pandas-dataframe?noredirect=1&lq=1